body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
body > * {
  padding: 0 100px 0 180px;
}


.header, .footer, .hero-section {
  background-color: #1F2937;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 30px;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: 800;
}

.header-links {
  display: flex;
  gap: 10px;
}
ul {
  list-style: none;
}

.header-links a {
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;
}
.hero-section {
  display: flex;
  padding-top: 60px;
  padding-bottom: 130px;
}
.hero-section > * {
  width: 100%;
}
.hero-text-section {
  margin-right: 15px;
}
.hero-main-text {
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8;
  margin-block-start: 0;
  margin-block-end: 0;
}
.hero-secondary-text {
  font-size: 18px;
  color: #E5E7EB;
}
button {
  background-color: #3882F6;
  padding: 8px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 8px;
  color: white;
  font-size: 18px;
  font-weight: bold;
}
.hero-text-section > button {
  border-style:none;
}
.image-placeholder {
  color: #F9FAF8;
  background-color: #6d747d;
  display: flex;
  justify-content: center;
  align-items: center;
}
.images-section {
  display: flex;
  flex-direction: column;
}
.images-section > h2 {
  color: #1F2937;
  align-self: center;
  font-size: 36px;
  font-weight: 800;
  padding: 15px;
}
.core-images-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.image-and-subtext {
  display: flex;
  flex-direction: column;
  gap: 10px 20px;
  margin-bottom: 100px;
}

.image-and-subtext .image{
  height: 160px;
  width: 160px;
  border: 4px solid #3882F6;
  border-radius: 20px;
}
.image-and-subtext p {
  color: #1F2937;
  text-align: center;
  width: 160px;
  margin-block-start: 0;
}

.quote-section {
  background-color: #E5E7EB;
  padding: 60px, 120px, 60px, 200px;
  padding-left: 240px;
  padding-right: 200px;
  padding-top: 60px;
  padding-bottom: 80px;
}
.quote {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  margin-block-end: 0;
}
.quote-attribution {
  font-size: 24px;
  font-weight: 800;
  text-align: right;
  margin-block-start: 0;
}
.call-to-action-section{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  height: 300px;
}

.call-to-action-box {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  background-color: #3882F6;
  border-radius: 15px;
}
.call-to-action-box button {
  border-style: solid;
  border-color: white;
}
.call-to-action-box-right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-grow: 1;
}
.footer {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
